
mini_task14/__pycache__/mini_task14.cpython-311.pyc
mini_task14/__pycache__/test_for_mini_task_14.cpython-311-pytest-7.2.2.pyc
mini_task14/__pycache__/test_for_mini_task_14.cpython-311-pytest-7.2.2.pyc
*.pyc